@value colors: "../../../style/theme.css";
@value light_theme, black_theme, light_theme_border, dark_theme_border from colors;
/* @value transition_time: none; */
@value transition_time: all 0.1s linear;

.layout_item {
    position: absolute;
    outline: none;
    overflow: hidden;
}

.layout_item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    transition: transition_time;
}

.no-border {
    border: 1px solid transparent !important;
}

.resize-handler {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    display: block !important;
}

.draggable_handler {
    border: none;
    position: absolute;
    cursor: grab;
    pointer-events: all
}
