@value colors: "../../style/theme.css";
@value light_theme, black_theme, light_theme_border, dark_theme_border from colors;
@value transition_time: none;
/* @value transition_time: all 0.01s linear; */

.canvas {
    position: absolute;
    background-color: #fff;
}

.layout_item {
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    outline: none;
    transition: transition_time;
}

.layout_item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transition_time;
}

.dark-theme {
    background-color: black_theme;
    color: #fff;
}

.light-theme {
    background-color: light_theme;
    color: #fff;
}

.light-theme-border {
    border: 1px dashed light_theme_border;
}

.dark-theme-border {
    border: 1px dashed dark_theme_border;
}

.no-border {
    border: 1px solid transparent;
}

.resize-handler {
    position: absolute;
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    border-radius: 3px;
    display: block !important;
    transition: transition_time;
}

.placeholder {
    background-color: #d9d9d9;
    position: absolute;
    will-change: transform;
}
