/* add css module styles here (optional) */

.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    background-color: #f2f2f7;
}

.canvas {
    position: absolute;
    background-color: transparent;
}

.placeholder {
    background-color: #d9d9d9;
    position: absolute;
    will-change: transform;
    transition: transition_time;
}

.abundant {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
